<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Le service de vélib en Europe :
  </h1>
  <div>
    <h3>
      Veuillez choisir une ville :
    </h3>
  </div>
  <div>
    <select #selectContrat (change)="contratChoisi(selectContrat.value)">
      <option selected disabled>Choisir une ville</option>
      <option *ngFor="let contrat of contrats" [value]="contrat.name">{{ contrat.name }}</option>
    </select>
  </div>
  <div>
    <button class="valider" (click)="this.verifVilleChoisie()">Valider</button>
  </div>
</div>
<div class="carte" *ngIf="this.estSelectionne">
  <app-station
    [contrat]="selection"
    (changeVille)="changementVille($event)">
  </app-station>
</div>

<router-outlet></router-outlet>
