<section class="jumbotron text-center" *ngIf="!this.estSelectionne">
  <div class="container">
    <h1 class="jumbotron-heading">Le service de location de vélos en Europe</h1>
    <p class="lead text-muted">Outil utilisant l'API JCDecaux pour accéder aux données des stations de vélos.</p>
    <div class="row justify-content-center">
      <div class="col-4">
        <label for="selectContrat">Veuillez choisir une ville :</label>
        <select #selectContrat (change)="contratChoisi(selectContrat.value)" class="custom-select"
                id="selectContrat">
          <option selected disabled>Choisir une ville</option>
          <option *ngFor="let contrat of contrats" [value]="contrat.name">{{ contrat.name }}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button class="btn btn-primary valider" (click)="this.verifVilleChoisie()">Valider</button>
      </div>
    </div>
  </div>
</section>
<div *ngIf="this.estSelectionne">
  <app-station
    [contrat]="selection"
    (changementVille)="changementVille($event)">
  </app-station>
</div>

<router-outlet></router-outlet>
